@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet-active {
  background: #7a2e2f !important;
  width: 8px !important;
  height: 8px !important;
}

.swiper-pagination-bullets {
  align-items: center;
  width: fit-content;
}

/* section gap */
.section-gap {
  @apply pt-8 lg:pt-16 xl:pt-24;
}

/* header */
.nav {
  @apply translate-x-full md:translate-x-0 fixed top-0 right-0 flex flex-col w-full h-full bg-bg border-2 border-primary p-10 md:p-0 sm:w-56 md:relative md:bg-transparent md:border-0 md:w-fit;
}

.nav.open {
  @apply translate-x-0
}

.nav_list {
  @apply flex flex-col items-center gap-5 flex-1 sm:items-start md:flex-row md:gap-16;
}

/* hero */
.title {
  @apply 2xl:text-[18.625rem] xl:text-[14rem] lg:text-[12rem] md:text-[9rem] sm:text-[8rem] mb:text-[6rem] text-[4rem];
  @apply 2xl:leading-[228px] xl:leading-[175px] lg:leading-[160px] md:leading-[140px] sm:leading-[110px] mb:leading-[75px] leading-[50px];
  @apply font-title absolute z-10 text-transparent bg-cover bg-clip-text;
}

.title_cast {
  @apply 2xl:left-[-2rem] 2xl:top-14 xl:left-28 xl:top-4 lg:top-0 lg:left-12 medium:left-12 medium:top-0 md:left-0 md:top-0 sm:top-4 sm:left-0 mb:top-0 mb:left-8 mini:left-12 left-0 top-0;
}

.title_base {
  @apply 2xl:top-96 2xl:right-[-10px] xl:right-32 xl:top-72 lg:right-12 lg:top-72 medium:right-24 medium:top-72 md:right-12 md:top-72 sm:top-56 sm:right-12 mb:top-32 mb:right-8 mini:right-20 right-12 top-32;
}

.slogan {
  @apply absolute uppercase z-10 rotate-90 font-bold;
  @apply 2xl:tracking-widest xl:tracking-widest lg:tracking-widest md:tracking-wider sm:tracking-wider mb:tracking-wide tracking-wide;
  @apply 2xl:text-3xl xl:text-xl lg:text-sm md:text-xs mb:text-[9px] text-[9px];
  @apply 2xl:top-[35rem] xl:top-[33rem] lg:top-[30rem] md:top-[25rem] sm:top-[25rem] mb:top-[17rem] top-[17rem];
  @apply 2xl:right-[-390px] xl:right-[-300px] lg:right-[-290px] md:right-[-205px] sm:right-[-200px] mb:right-[-120px] right-[-120px];
}