@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet-active {
  background: #7a2e2f !important;
  width: 8px !important;
  height: 8px !important;
}

@media (max-width: 1024px) {
  .custom-list li::marker {
    font-size: 0.5rem;
    line-height: 0.4rem;
  }
}

.swiper-pagination-bullets {
  align-items: center;
  width: fit-content;
}

/* section gap */
.section-gap {
  @apply pt-8 lg:pt-16 xl:pt-24;
}

/* header */
.nav {
  @apply translate-x-full md:translate-x-0 fixed top-0 right-0 flex flex-col w-full h-full bg-bg border-2 border-primary p-10 md:p-0 sm:w-56 md:relative md:bg-transparent md:border-0 md:w-fit;
}

.nav.open {
  @apply translate-x-0;
}

.nav_list {
  @apply flex flex-col items-center gap-5 flex-1 sm:items-start md:flex-row md:gap-16;
}

/* hero */
.title {
  @apply font-title absolute z-10 text-primary;
  @apply text-[67px] mini:text-8xl sm:text-9xl md:text-[10rem] leading-none;
}

.title_cast {
  @apply 
    2xl:left-[-2rem] 2xl:top-14 
    xl:left-28 xl:top-4 
    lg:top-0 lg:left-12 
    medium:left-12 medium:top-0 
    md:left-[-83px] md:top-[-100px]
    sm:left-[-83px] sm:top-[-100px]
    mini:left-[-42px] mini:top-[-81px]
    left-[-22px] top-[-59px];
}

.title_base {
  @apply 
    2xl:top-96 2xl:right-[-10px] 
    xl:right-32 xl:top-72 
    lg:right-12 lg:top-72 
    medium:right-24 medium:top-72 
    md:right-12 md:top-72 
    sm:top-[165px] sm:bottom-[102px] 
    mini:right-[-6px] mini:bottom-[100px]
    right-0 bottom-[90px];
}

.slogan {
  @apply absolute uppercase z-10 rotate-90 font-bold;
  @apply 2xl:tracking-widest xl:tracking-widest lg:tracking-widest md:tracking-wider sm:tracking-wider mb:tracking-wide tracking-wide;
  @apply 2xl:text-3xl xl:text-xl lg:text-sm md:text-xs text-[7px];
  @apply 2xl:top-[35rem] xl:top-[33rem] lg:top-[30rem] md:top-[25rem] sm:top-[19rem] top-[12rem];
  @apply 2xl:right-[-390px] xl:right-[-300px] lg:right-[-290px] md:right-[-205px] sm:right-[-200px] right-[-110px];
}
