@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet-active {
  background: #7A2E2F !important;
  width: 12px !important;
  height: 12px !important;
}

.swiper-pagination-bullets {
  align-items: center;
  width: fit-content;
}

/* .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
} */

/* html {
  scroll-behavior: smooth;
} */


/* .text-with-bg {
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  height: 350px;
  width: auto;
} */